<section>
  <div class="sidebar display">
    <p>sidebar works!</p>
    <button (click)="toggleDashboard()">click me</button>
  </div>

  <div (click)="toggleDashboard()" class="dashbar display">
    <p>Dashboard bar</p>
    <div class="db-content">
      <ul>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
        <li>Overview</li>
        <li>Area Measurements</li>
        <li>Activities</li>
        <li>Equipments</li>
        <li>Documents</li>
      </ul>
    </div>
  </div>
</section>
